/* Color Scheme */
:root {
    --background-color: #f9f7f5; /* Warm white for the background */
    --primary-color: #6f6078; /* Light purple-gray for primary text */
    --secondary-color: #897d78; /* Muted brown for secondary text */
    --white: #fefefe; /* Clean white */
    --shadow-color: rgba(0, 0, 0, 0.1);
    --gray-text: #ada8b0; /* Light purple-gray for secondary text */
    --text-link: cornflowerblue;
    --text-highlight: #b3a2a7; /* Muted lavender for small accents */
    --module-background: #dfdce2; /* Rich brown overlay for modal/dialog */
}



/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Roboto:wght@300;400;700&display=swap');

/* General Page */
body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-family: 'system-ui';
    background: var(--background-color);
    color: var(--primary-color);
    font-size: 18px;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

/* Header */
.heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'system-ui', sans-serif;
    font-size: 50px;
    font-weight: 700;
    color: var(--primary-color);
    background: var(--white);
    padding: 20px;
    box-shadow: 0 4px 6px var(--shadow-color);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.menu {
    display: none;
}

.menu-selected {
    color: cornflowerblue!important;
}

.openMenu, .closeMenu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
}

.openMenu a, .closeMenu a {
    text-decoration: none;
    padding: 1.5vw;
    font-size: 20px;
    color: var(--primary-color);
    font-weight: 600;
}

@media screen and (max-width: 1150px) {
    .menu {
        display: block;
        z-index: 1;
    }
    .menu img {
        height: 35px;
    }

    .openMenu {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        position: absolute;
        right: 0;
        top: 60px;
        background: var(--white);
        box-shadow: 0px 8px 16px var(--shadow-color);
    }
    .closeMenu {
        display: none;
    }
    .openMenu a:hover {
        background: var(--background-color);
    }
}

/* About Me Page */
.me {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: var(--module-background);
    padding: 40px;
    margin: 20px auto;
    width: 80%;
    border-radius: 10px;
}

.headshot {
    width: 25vw;
    border: 5px solid var(--primary-color);
    border-radius: 50%;
    margin: 20px;
}

.about {
    font-size: 18px;
    color: var(--secondary-color);
    width: 45vw;
    padding-left: 5vw;
}

@media screen and (max-width: 1600px) {
    .headshot {
        width: 400px;
    }
    .about {
        width: 80%;
        padding-left: 0;
    }
}

@media screen and (max-width: 600px) {
    .headshot {
        width: 80%;
    }
    body {
        font-size: 16px;
    }
    .heading {
        font-size: 30px;
    }
    .about {
        font-size: 16px;
        width: 80%;
        padding-left: 0;
    }
}

.about a {
    color: var(--secondary-color);
}

.about-section {
    width: 80%;
    align-self: center;
}

h4 {
    font-weight: 400;
}

hr.solid {
    width: 80%;
    align-self: center;
    border: 1px solid var(--secondary-color);
    margin-top: 40px;
}

.feat-projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.about-section h1 {
    color: var(--primary-color);
    font-size: 36px;
    margin-bottom: 20px;
}

.link {
    color: var(--text-highlight)!important;
    font-style: italic;
    text-decoration: none;
    padding-left: 0;
}

.link:hover {
    text-decoration: underline;
}

.website {
    color: var(--text-link);
    text-decoration: none;
    display: contents;
}

.website:hover {
    text-decoration: underline;
}

/* Contact Section */
.contact {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding: 20px;
    font-size: 20px;
    background: var(--white);
    box-shadow: 0 4px 6px var(--shadow-color);
    margin: 20px 0;
}

.icons {
    display: flex;
    flex-direction: row;
}

.icons img {
    display: block;
    width: 50px;
    height: 50px;
    padding: 10px;
}

/* Experience Page */
.research {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: center;
    background: var(--module-background);
    width: 70%;
    border-radius: 10px;
    margin: 20px auto;
}

.research h1 {
    color: var(--primary-color);
    font-weight: 400;
    font-size: 30px;
}

.research h3 {
    margin: 0;
    font-weight: 600;
}

.research i {
    color: var(--gray-text);
}

.research-area {
    display: flex;
    flex-direction: column;
    /* width: 100%;
    background: var(--medium-gray);
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
    box-shadow: 0 4px 6px var(--shadow-color); */
}

.research-project {
    color: var(--primary-color);
    background: var(--white);
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px var(--shadow-color);
}

.research-project li {
    text-indent: -1em;
    padding-left: 2em;
}

.research ul {
    margin: 5px 0;
    padding: 0;
}

.research a {
    color: var(--text-link);
    font-style: normal;
}

/* Projects Page */
.projects {
    display: grid;
    grid-auto-flow: dense;
    grid-template-columns: repeat(auto-fit, 29rem);
    justify-content: center;
    width: 80%;
    align-self: center;
}

.projects img, .feat-projects img {
    display: block;
    block-size: 400px;
    margin-right: 40px;
    box-shadow: 0.2px 0.2px 20px var(--shadow-color);
    filter: sepia(30%);
}

.project {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    padding: 2vw;
    height: 500px;
    width: 400px;
    cursor: pointer;
}

.project-description {
    color: var(--secondary-color) !important;
    font-size: 20px;
    text-decoration: none;
    overflow: hidden;
}

.project-description link {
    color: var(--text-highlight) !important;
}

.project-description h1 {
    color: var(--secondary-color) !important;
    font-size: 25px;
    /* font-weight: 400; */
    margin-bottom: 10px;
}

.project-description b {
    font-size: 20px;
    color: var(--text-highlight) !important;
}

.project-selected {
    display: flex;
    flex-direction: row;
    grid-column: 1 / -1;
    padding: 40px;
    background: var(--module-background);
    cursor: pointer;
}

.vproject-selected {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    padding: 2vw;
    width: 400px;
    background: var(--module-background);
    cursor: pointer;
    border-radius: 10px;
    margin: 2vw;
}

/* Art Page */
.art {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    color: var(--secondary-color);
    width: 80%;
    align-self: center;
}

.art_photos {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.art_photos img {
    display: block;
    block-size: 400px;
    margin: 5px;
}