/* general page */
body {
    display: flex;
    /* padding: 20px; */
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    font-family: system-ui;
    /* background-image: url("/assets/backgrounds/dark-blue-green-gradient.jpg"); */
    background: #0e4357;
    color: whitesmoke;
    font-size: 25px;
    font-weight: 300;
}



/* header */
.heading {
    display: flex;
    flex-direction: row;
    color: #b9b3ea;
    justify-content: space-between;
    font-size: 60px;
    padding: 10px;
    font-weight: 700;
    padding-left: 20px;
    background: #0e4357;
    position: sticky;
    top: 0;
}

.menu {
    display: none;
}

.openMenu, .closeMenu {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
}

.openMenu a, .closeMenu a {
    text-decoration: none;
    padding: 1.5vw;
    font-size: 35px;
    color: rgb(167 70 179);
    font-weight: 600;
    width: -webkit-fill-available;
}

@media screen and (max-width: 1150px) {    
    .menu {
        display: block;
        float: right;
        z-index: 1;
        
    }
    .menu img{
        height: 35px;
    }

    .openMenu {
        box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
        z-index: 1;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        position: absolute;
        right: 0;
        top: 100px;
        background: #0e4357;
    }
    .closeMenu {
        display: none
    }
    .openMenu a:hover {
        background: white;
    }
  }
 

/* about me page */
.me {   
    display: flex;
    flex-direction: row;
    padding: 2vw;
    /* padding-inline: 10vw; */
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: #2e6c84;
    width: 80%;
    align-self: center;
}

.headshot {
    display: block;
    width: 25vw;
    border-style: solid;
    border-color: #b3dce4;
}
.about {
    padding-left: 5vw;
    font-size: 25px;
    color: #b3dce4;
    width: 45vw;
}
@media screen and (max-width: 1600px) {
    .headshot {
        width: 400px;
    }
    .about {
        width: 80%;
        padding-left: 0px;
    }
} 

/* mobile */
  @media screen and (max-width: 600px) {    
    .headshot {
        width: 80%;
        
    }
    body {
        font-size: 20px;
        font-weight: 200;
    }
    .heading {
        font-size: 30px;
    }
    .about {
        font-size: 20px;
        width: 80%;
        padding-left: 0px;
    }
  }

.about a {
    color: white;
}

.about-section {
    width: 80%;
    align-self: center;
    /* padding-inline: 300px; */
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}

h4 {
    font-weight: 400;
}

hr.solid {
    width: 80%;
    align-self: center;
    border: 1px solid #2e6c84;
    margin-top: 40px;
}

.feat-projects {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.about-section h1 {
    color: #b9b3ea;
    font-size: 50px;
}

.link {
    color: white;
    font-style: italic;
    text-decoration: none;
    padding-left: 0%;
}

.link:hover {
    text-decoration: underline;
}

.website {
    color:#b3dce4;
    text-decoration: none;
    display: contents;
}

.website:hover {
    text-decoration: underline;
}

/* overview squares */
/* .pages-overview {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 40px;
    font-size: 18px;
}

.pages-overview h1, .pages-overview a {
    text-decoration: none;
    color: white;
}

.projects-overview {
    display: block;
    width: 400px;
    height: 400px;
    box-shadow: 0.2px 0.2px 20px #000d12;
    background-color: rgb(167 70 179);
    margin: 20px;
    padding: 20px;
    transition: all 500ms ease; 
}

.projects-overview:hover {
    background-color: rgb(125, 53, 134);
}

.experience-overview {
    display: block;
    width: 400px;
    height: 400px;
    box-shadow: 0.2px 0.2px 20px #000d12;
    background-color:  rgb(70 179 164);
    margin: 20px;
    padding: 20px;
    transition: all 500ms ease; 
}

.experience-overview:hover {
    background-color:  rgb(50, 129, 119);
}

.art-overview {
    display: block;
    width: 400px;
    height: 400px;
    box-shadow: 0.2px 0.2px 20px #000d12;
    background-color: #b9b3ea;
    margin: 20px;
    padding: 20px;
    transition: all 500ms ease; 
}

.art-overview:hover {
    background-color: #766faf;
} */

/* contact section */
.contact {
    display: flex;
    flex-direction: row;
    padding-top: 40px;
    justify-content: space-between;
    font-size: 20px;
    align-items: flex-end;
    padding: 20px;
}

.icons {
    display: flex;
    flex-direction: row;
}

.icons img {
    display: block;
    block-size: 50px;
    padding: 10px;
}

/* experience page */
.research {
    padding-inline: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    align-self: center;
    /* background: #2e6c84; */
    width: 80%;
}

.research h1 {
    color: #b9b3ea;
    margin-bottom: 0px;
    font-size: 30px;
    margin-inline: 20px;
}

.research b {
    font-weight: 400;
}

.research-area {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.research-project {
    color: white;
    background: #2e6c84;
    display: block;
    margin: 20px;
    padding: 20px;
    font-size: 18px;
}

.research-project li {
    text-indent: -1em;
    padding-left: 2em;
}

.research ul {
    margin-top: 0px;
    margin-bottom: 0px;

}

/* 
.job {
    padding-left: 40px;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 70px;
    overflow: hidden;
    transition: all 500ms ease;
}

.job:hover {
    height: fit-content;
} */

/* projects page */
.projects{
    display: grid;
    grid-auto-flow: dense; /* [2] */
    grid-template-columns: repeat(auto-fit, 29rem);
    justify-content: center;
    width: 80%;
    align-self: center;}

.projects img, .feat-projects img {
    display: block;
    block-size: 400px;
    margin-right: 40px;
    box-shadow: 0.2px 0.2px 20px #000d12;
}

.project {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    padding: 2vw;
    height: 500px;
    width: 400px;
    cursor: pointer;
}

.project-description {    
    color: #b3dce4 !important;
    font-size: 20px;
    text-decoration: none;
    overflow: hidden;
}

.project-description h1 {
    color: #b3dce4 !important;
    font-size: 25px;
    font-weight: 400;
}

.project-description b {
    font-size: 20px;
}

.project-selected {
    display: flex;
    flex-direction: row;
    grid-column: 1 / -1;
    padding: 40px;
    background: #0f6283cf;
    cursor: pointer;
}

.vproject-selected {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    padding: 2vw;
    width: 400px;
    background: #0f6283cf;
    cursor: pointer;
}

/* art page */
.art {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    padding: 40px;
    color: #b3dce4;
    
    width: 80%;
    align-self: center;
}

.art_photos {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.art_photos img {
    display: block;
    block-size: 400px;
    margin: 5px;
}

.art p {
    color: darkseagreen;
}
