body {
    display: flex;
    padding: 20px;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    font-family: system-ui;
    background-image: url("/assets/backgrounds/dark-blue-green-gradient.jpg");
}

.pages {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.pages a {
    text-decoration: none;
    padding: 20px;
    font-size: 50px;
    color: rgb(167 70 179);
    font-weight: 600;
    font-variant: small-caps;
}

.about {   
    display: flex;
    flex-direction: column;
    padding: 80px;
    color: #948bdd;
    font-size: 35px;
    width: 80%;
    align-content: space-around;
    align-items: center;
    align-self: center;
}

/* .contact {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
} */

.icons {
    display: flex;
    flex-direction: row;
}

.icons img {
    display: block;
    block-size: 50px;
    padding: 10px;
}

.headshot {
    display: block;
    block-size: 400px;
    border-style: dashed;
}

.experience {
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    align-self: center;
    color: #b3dce4;
    width: 80%;
}

.experience h1 {
    color: rgb(70 179 164);
}

/* .experience a {
    padding-left: 40px;
    size: "20px";
} */

.job {
    padding-left: 40px;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.projects{
    padding: 40px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.projects img {
    display: block;
    block-size: 350px;
    box-shadow: 0.2px 0.2px 20px #000d12;
}

.project {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 50px;
}

.project-description {
    padding-left: 50px;    
    color: #948bdd;
}

.art {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    padding: 40px;
}

.art_photos {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.art_photos img {
    display: block;
    block-size: 400px;
    box-shadow: 0.2px 0.2px 20px #01161d;
    margin: 25px;
}

.art a {
    font-size: 40px;
    color: #948bdd;
    font-weight: 700;
}

.art p {
    color: darkseagreen;
}